@import "node_modules/modern-normalize/modern-normalize.css";

html,
body {
  height: 100%;
  background-color: #000000;
}

#signUpPage {
  display: flex;
  height: 99%;
}

#leftCard {
  width: 70%;
  height: 100%;
}

#leftCard img {
  width: 100%;
  height: 100%;
}

#rightCard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
  height: 100%;
  color: #ffffff;
  background-color: #000000;
}

#title {
  width: 80%;
}

#title h1 {
  font-size: 40px;
}

#title p {
  font-size: 20px;
}

#formBody h2 {
  font-size: 30px;
}

#monoForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 65%;
}

#monoForm input {
  border: 2px solid #000;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 5px;
}

#monoForm input:invalid {
  border-color: red;
}

#monoForm .formControl {
  display: flex;
  flex-direction: column;
  margin: 15px 15px 15px 0px;
}

#monoForm .formControl label {
  font-weight: bold;
}

#signUpButton {
  height: 75px;
  font-weight: bold;
  font-size: 20px;
}
